/vendor
/node_modules
/public/hot
/public/storage
/public_html/public/customers/
/public_html/public/contracts/
/public_html/public/lesson_summary/
/public_html/public/invoices
/public_html/public/profil
/public_html/public/pensionUsers
/public_html/public/feeUsers
/public_html/pdfs
/public_html/*.zip
/storage/*.key
/.idea/
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.env.testing
.env.local
.env.development
.env.staging
.env.production
.env.example
.DS_Store
.phpunit.result.cache
